submission.csv
test/
train/

# datasets
*.jpg
*.jpeg
*.png

# Python Caches & Virtual Environments
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# Model Checkpoints
models/
*.pth
*.pt

# IDE / Jupyter Checkpoints
.ipynb_checkpoints/
.vscode/

